
body {
    background-color: #ffffff;
}
.ace_editor, .ace_editor div {
    font-family: 'Ubuntu Mono' monospace !important;
}
#input, #output {
    font-family: 'Ubuntu Mono', monospace !important;
    font-size: 125%;
    background-color: #f2f2f2;
    border: none;
    color: color;
    margin: none;
    padding: none;
    display: block;
    resize: vertical;
    width: 100%;
    height: 100%;
    resize: none;
}
#input_panel, #output_panel {
    font-family: 'Ubuntu Mono', monospace !important;
    position: absolute;
    display: inline-block;
    width: 47%;
    height: 85%;
    top: 12%;
}
#input_panel {
    left: 2%;
}
#output_panel {
    right: 2%;
}
#header {
    font-size: 150%;
    font-family: Helvetica;
    background-color: #262626;
}
.mdl-layout__drawer-button {
    background-color: #262626 !important;
}
.mdl-layout__obfuscator {
    z-index: 12;
}
.mdl-layout__drawer {
    z-index: 13;
}
#selectFileBtn {
    background-color: #666666;
}
#decompileBtn {
    display: none;
    background-color: #8c8c8c;
}
#loadingOverlay {
    display: block;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 10;
}
#spinner {
    z-index: 12;
}
#spinnerHolder {
    clear:both;
    overflow:none;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    width: 84px;
    height: 84px;
}
.mdl-spinner {
    width: 84px;
    height: 84px;
}
.mdl-spinner__circle {
    border-width: 9px;
}