* {
    font-family: ubuntu !important;
}
body {
    background-color: #ffffff;
}
#input, #output {
    font-size: 125%;
    background-color: #f2f2f2;
    border: none;
    color: color;
    margin: none;
    padding: none;
    display: block;
    resize: vertical;
    width: 100%;
    height: 100%;
    resize: none;
}
#input_panel, #output_panel {
    position: absolute;
    display: inline-block;
    width: 47%;
    height: 85%;
    top: 12%;
}
#input_panel {
    left: 2%;
}
#output_panel {
    right: 2%;
}